{% extends 'base.html' %}
{% block title %}Index{% endblock %}
{% block content %}

{% load static %}
<div class="container">
	<form id="searchForm" action="{% url 'search_view' %}">
		<button id="button" type="submit" class="btn btn-outline-primary btn-lg">
			Search books
		</button>
	</form>
	<a href="{% url 'book_list_view' %}" class="btn btn-outline-primary btn-lg">Books list</a>

	<!-- Button trigger modal -->
	<button id="button" type="button" class="btn btn-outline-primary btn-lg" data-bs-toggle="modal"
		data-bs-target="#exampleModal">
		Launch demo modal
	</button>

	<!-- Modal -->
	<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="modal-dialog modal-xl modal-dialog-centered">
			<div class="modal-content">
				<div class="modal-header" data-bs-theme="dark">
					<h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col"
							style="display: flex; justify-items: center; justify-content: center; padding-right: 0px;">
							<div id="drop-area">
								<span>Drag image here</span>
								<img id="image">
							</div>

						</div>
						<div class="col">
							<form>
								<div class="mb-3">
									<label for="exampleInputPetName1" class="form-label">Your pet name</label>
									<input type="text" class="form-control" id="exampleInputPetName1"
										aria-describedby="petNameHelp">
									<div id="petNameHelp" class="form-text">We'll never share your's pet name
										with anyone else.</div>
								</div>
								<div class="mb-3">
									<label for="exampleInputEmail1" class="form-label">Email address</label>
									<input type="email" class="form-control" id="exampleInputEmail1">
								</div>
								<div class="mb-3">
									<label for="exampleInputPassword1" class="form-label">Password</label>
									<input type="password" class="form-control" id="exampleInputPassword1">
								</div>
								<button type="submit" class="btn btn-outline-primary" id="submit">Submit</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script src="{% static 'js/script.js' %}"></script>
{% endblock %}